* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(87, 0, 145);
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #000000;
  color: white;
  border: 1px solid #999;
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 136px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 48px;
}
.game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.restart-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.game-info {
  margin-left: 20px;
}
/* .pik{
  background-image: url(./assets/19-vaporwave-gifs-gif-abyss.gif);
  width: 50rem;
  height: 50rem;
  background-repeat: no-repeat;

} */

.appDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}